// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
  width: 90%;
  margin: auto;
  padding: 10px;
  color:white;
}

.one-container {
  width: 10%;
  background: white;
  margin: auto;
  padding: 10px;
  color:black;
  float: left;
  overflow: auto;
  cursor: pointer;
  height: 850px;
}

.two-container {
  width: 80%;
  margin: auto;
  padding: 10px;
  color:white;
  float: left;
  background-color: #424242;
  height: 850px;

}
.one {
  padding: 10px;
  background:  #9E9E9E;
  float: left;
  width: 30%;
  color: white;
  a {
    color: white;
  }
  height: 780px;
  overflow: auto;
}
.two {
  padding: 10px;
  background: #616161;
  float: left;
  width: 30%;
  color: white;
  a {
    color: white;
  }
  height: 780px;
  overflow: auto;
}

.three {
  padding: 10px;
  background: #757575;
  float: right;
  float: left;
  width: 32%;
  color: white;
  a {
    color: white;
  }

  height: 780px;
  overflow: auto;
}

.feed {
  color:white !important;
  :hover {
    background-color: #424242;
  }
}